*.iml
.gradle
/.idea/codeStyles/Project.xml
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
version-build.properties
Development-firebase.json
Staging-firebase.json
Production-firebase.json
releasenotes
.idea/
jsoup-1.14.1-SNAPSHOT/build
scytale-release/build/
app/production/release/
